  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  *::-webkit-scrollbar{ scrollbar-width: none; display: none; }
  * {
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
}

/**::-webkit-scrollbar {
  display: none;
}*/

*::-webkit-scrollbar * {
  background: transparent;
  display: none;
}

*::-webkit-scrollbar-track  {
  -webkit-box-shadow: none;
  background: transparent;
  display: none;
}

*::-webkit-scrollbar-track:hover  {
  -webkit-box-shadow: none;
  background: transparent;
  display: none;
}


*::-webkit-scrollbar  {
  height: 100%;
  border-radius: 5px;
  width: 10px;
  background: transparent;
  opacity: 0;
  margin-top: 0;
}
*::-webkit-scrollbar:hover  {
  opacity: 1;
}

*::-webkit-scrollbar-track  {
  -webkit-box-shadow: none;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  opacity: 0;
  border-right: 1px solid rgba(54, 54, 226, 1);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .4);
  border-radius: 10px;
  border-right: none;

}

*::-webkit-scrollbar-thumb:window-inactive  {
  background: none;
  opacity: 0;
}




:root { 
  scrollbar-color: transparent transparent;

 
    --dark-background-color:  rgba(37, 37, 39, 1);
    --dark-background-color-alt:  rgba(25, 25, 26, 1);
    --dark-trim-color:  #333333;
    --dark-text-color:  rgba(255, 255, 255, 1);
    --dark-text-color-alt:  rgba(255, 255, 255, .5);
    --dark-primary-color: rgba(7, 70, 202, 1);  /*rgba(13, 13, 242, 1);*/
    --dark-primary-color-alt:  rgba(207, 207, 252, 0.05);
    --dark-primary-color-alt-50:  rgba(32, 89, 207, 1);
    --dark-devices-background: rgba(37, 37, 39, 1);

    --dark-tablet-landscape-shadow: inset 0 4px 7px 1px rgba(173, 186, 204, 0.05), inset 0 -5px
 20px rgba(173, 186, 204, 0.15), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 0, 0, 0.55);

    --dark-tablet-portrait-shadow: inset 0 4px 7px 1px rgba(173, 186, 204, 0.05), inset 0 -5px 20px rgba(173, 
186, 204, 0.15), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05), 0 10px 20px rgba(0, 0, 0, 0.55);

    --dark-glass-background: 
      radial-gradient(
    140% 140% at 0% 0%,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.35) 100%);

  --dark-glass-border: rgba(255, 255, 255, 0.07);

  --dark-laptop-shadow: 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05), 0 10px 20px rgba(0, 0, 0, 0.55);
}


body {
    letter-spacing: 0.09px;
    --background-color:  rgba(216, 216, 218, 1);/*rgba(221, 221, 223, 1);/*rgba(223, 223, 225, 1);/*rgba(228, 228, 231, 1);/*rgba(234, 234, 241, 1);*/
    --background-color-alt:  rgba(210, 210, 212, 1); /*rgba(213, 213, 215, 1); /*rgba(224, 224, 225, 1);/*rgba(225, 225, 234, 1);*/
    --trim-color:  rgba(0, 0, 0, .1); /*#dddddd;*/
    --text-color:  rgba(23, 23, 28, 1);
    --text-color-alt:  rgba(0, 0, 0, .73);
    --primary-color:  rgba(7, 70, 202, 1);/*rgba(13, 13, 242, 1)*/
    --primary-color-alt:  rgba(13, 13, 242, 0.1);
    --primary-color-alt-50:  rgba(32, 89, 207, 1);
    --devices-background: #fff;

    --tablet-landscape-shadow: inset 0 4px 7px 1px rgba(173, 186, 204, 0.25), inset 0 -5px
 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.1);

    --tablet-portrait-shadow: inset 0 4px 7px 1px rgba(173, 186, 204, 0.25), inset 0 -5px 20px rgba(173, 
186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05), 0 10px 20px rgba(0, 21, 64, 0.1);

    --glass-background: 
      radial-gradient(
    140% 140% at 0% 0%,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0.04) 100%);

    --glass-border: rgba(255, 255, 255, 0.5);

    --laptop-shadow: 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05), 0 10px 20px rgba(0, 21, 64, 0.1);

    --font-family:  "Inter", "Poppins" ,"Quicksand", sans-serif;
    color: var(--text-color);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    scrollbar-width: none;
    scroll-behavior: smooth;

}


body.theme-dark {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
    --text-color-alt: var(--dark-text-color-alt);
    --primary-color-alt: var(--dark-primary-color-alt);
    --devices-background: var(--dark-devices-background);
    --tablet-landscape-shadow: var(--dark-tablet-landscape-shadow);
    --tablet-portrait-shadow: var(--dark-tablet-portrait-shadow);
    --glass-background: var(--dark-glass-background);
    --glass-border: var(--dark-glass-border);
    --laptop-shadow: var(--dark-laptop-shadow);
    -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(--dark-background-color-alt);
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
        --text-color-alt: var(--dark-text-color-alt);
        --primary-color-alt: var(--dark-primary-color-alt);
        --devices-background: var(--dark-devices-background);
        --tablet-landscape-shadow: var(--dark-tablet-landscape-shadow);
        --tablet-portrait-shadow: var(--dark-tablet-portrait-shadow);
        --glass-background: var(--dark-glass-background);
        --glass-border: var(--dark-glass-border);
        --laptop-shadow: var(--dark-laptop-shadow);
        -webkit-font-smoothing: antialiased;
    }
}




/* BEGINNING HEADER NAVIGATION STYLE */

/*=============== THEME SELECTOR ===============*/
.select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 10px;
    float: right;
    color: var(--text-color);
}

.select:hover {
    color: var(--primary-color);
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0px 0px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-color-alt);
    font-weight: 500;
    font-family: var(--font-family);
}



.select__input option {
    color: var(--text-color);
}



/*=============== HEADER & NAV CUSTOM===============*/
.header {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  margin-bottom: 20px;
  z-index: 109;
  box-shadow: 4px 0px 5px rgba(0,0,0,.1);
  transition: background .2s;
}

.nav {
  margin-bottom: 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 202;
}

.headerSignUpBtn {
  background-color: blue;
  color: white;
  font-weight: 700;
}



/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: var(--background-color);
  color: var(--text-color);
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100vw;
  border-bottom: 1px solid var(--trim-color);
  
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
}

.projectTitle{
  float: left;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  color: var(--text-color-alt);
  max-width: 30vw;
  width: 30vw;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.userProfileLink a {
  color: var(--primary-color);
  text-decoration: none;
}

.userProfileLink a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

.userProfileLink{
  float: left;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 300;
  color: var(--primary-color);
  text-decoration: none;
  display: none;
  visibility: hidden;
}
.userProfileText{
  float: left;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 300;
  color: var(--text-color-alt);
  text-decoration: none;
}


.logo {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 300;
  float: left;
  margin-left: 8px;
  font-size: 1em;
  height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
} 

  .logo a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo img {
   
    height: 42px;
    max-height: 42px;
    padding: 0;
    padding-right: 4px;
    margin-top: -2px;
}

.logoMobile{
  display: none;
  opacity: 0;
  visibility: hidden;
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 

#navbar li {
  display: inline-block;
}



#navbar li a {
  color: var(--text-color);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.navBarIconsShortcuts {
  color: var(--text-color);
  display: block;
  font-size: 0.7em;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  cursor: pointer;
}

#navbar span {
  color: var(--text-color-alt);
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  /*margin: 0 20px;*/
  padding: 0 4px;
  height: 50px;
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  vertical-align: sub;
  transition: all .1s ease;
}
#navbar span:hover {
  color: var(--primary-color);
  transition: all .1s ease;
}

.headerSignUpBtn{
  color: white;
  display: block;
  font-size: 0.7em;
  height: 34px;
  width: 150px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 20px 0 5px;
  padding: 0px 4px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.headerSignUpBtn:hover{
  background-color: var(--primary-color-alt-50);
}

#headerShareBtn{
  color: white;
  display: block;
  font-size: 0.7em;
  height: 34px;
  width: 70px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 0 20px;
  padding: 0px 4px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

#navbar li a:hover {
  color: var(--primary-color);
  text-shadow: 0px 0px 12px rgba(0, 0, 255, .5);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Navbar Theme Select */

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: var(--primary-color);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: var(--primary-color);
  right: 0;
}

#navbar li a:hover:before {
  background: var(--primary-color);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
}



/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media(max-width: 1025px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 13px;
    height: 24px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: var(--text-color);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: var(--text-color);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: var(--text-color);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}


/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
  background: var(--background-color-alt);
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
  width: 100%;
}

.overlay-menu li a {
  display: block;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  text-decoration: none;
color: var(--text-color);
  transition: color 0.3s ease;
}

.overlay-menu li a:visited {
  
  text-decoration: none;
  color: var(--text-color);

}
.overlay-menu li  {
  padding-left: 20px;
  border-bottom: 1px solid var(--trim-color);
}

.overlay-menu li a i{
  color: var(--primary-color);
  width: 40px;
  font-size: 1.4em;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: var(--primary-color);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}



  .companyDetails{
    margin-top: 100px;
    padding-top: 25px;
    text-align: center;
    color: var(--text-color-alt);
    font-size: .85em;
    font-weight: 300;
  }
  .contactHeading{
    text-align: center;
    margin-bottom: 20px;
  }
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;
    /*height: calc(100vh - 50px);*/
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
    background: var(--background-color-alt);
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid var(--trim-color);
    background: var(--background-color);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-alt);
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 90%;
    }
  }
  /* BEGINNING RESPONSIVE STYLING */

@media only screen and (max-width: 1440px){
   .select {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (max-width: 1280px) {

    #navbar #startButton{
        display: none;
        visibility: hidden;
    }
    .startRecording{
        display: none;
        visibility: hidden;
    }
    #navbar #stopButton{
        display: none;
        visibility: hidden;
    }
    #navbar #playRecButton{
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 1024px) {

  #navbar ul {
    display: none;
  } 

  .select {
    display: block;
    visibility: visible;
    opacity: 1;
    margin-right: 62px;
  }

.logoMobile{
  display: block;
  opacity: 1;
  visibility: visible;
}

.logoDesktop, .userProfileLink{
  display: none;
  opacity: 0;
  visibility: hidden;
}

.userProfileLink{

}

.projectTitle{
  font-size: 1em;
  max-width: 50vw;
  width: 50vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

}


@media only screen and (max-width: 640px) {
  .projectTitle{
    font-size: 1em;
    max-width: 40vw;
    width: 40vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


}



  @media only screen and (max-width: 640px) {
  .formbold-main-wrapper {
    margin-top: 100px;
    padding: 10px;
  }
  .body{
    height: auto;
    min-height: auto;
    overflow: scroll;
  }


}